@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
--bg: hsl(212, 45%, 89%);
--text: hsl(220, 15%, 55%);
--black:  hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  margin: 0;
  paddind: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barcode {
  width: 14.5em;
  height: 23em;
  background-color: white;
  border-radius: 15px;
}

img {
  width: 14.5em;
  border-radius: 11%;
  padding: 1em;
}

h2,
p {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  padding-inline: 1.3rem;
  text-align: center;
  color: var(--black);
  padding-top: .5rem;
}

p {
    font-size: 12px;
    color: var(--text);
}

.attribution {
  font-family: 'Outfit', sans-serif;
  margin-top: .5rem;
}

@media (max-width: 375px) {
  .barcode {
    height: 24em;
  }
}
