@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
--bg: hsl(212, 45%, 89%);
--text: hsl(220, 15%, 55%);
--black:  hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  margin: 0;
  paddind: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;  
  position: relative;
}

.barcode {
  width: 21.27rem;
  height: 31rem;
  background-color: white;
  border-radius: 15px;
}

img {
  width: 21.27rem;
  border-radius: 11%;
  padding: 1.1em;
}

h2,
p {
  font-family: 'Outfit', sans-serif;
  text-align: center;
  color: var(--black);
}

h2 {
  font-size: 20px;
  padding-inline: 3.5rem;
}

p {  
  padding-top: .6rem;
  font-size: 16px;
  color: var(--text);
  padding-inline: 2.1rem;
}

.attribution {
  font-family: 'Outfit', sans-serif;
  font-size: 11px; 
  text-align: center; 
  padding-bottom: 1rem;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  .barcode {
    height: 31rem;
  }
}
